@charset "UTF-8";
@import url(font-awesome.min.css);
@import "https://fonts.googleapis.com/css?family=Raleway:100,300,600";

* {
    padding: 0;
    margin: 0;
}

html,
body {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}
a.more {
    display: inline-block;
    background-color: #5385c1;
    color: white;
    text-decoration: none;
    height: 2.55em;
    line-height: 2.55em;
    padding: 0 1.2em;
    font-weight: 600;
}
.background {
    width: 100%;
    height: 80vh;
    overflow: hidden;
    border-top: 0.5rem solid #5385c1;
    position: fixed;
    z-index: -1;
}
.background img {
    width: 100%;
    object-fit: cover;
}
/* Menu */
.container {
    display: block;
    width: 80%;
    margin: 0 auto;
}
#menu-mobile {
    width: 280px;
    padding: 20px;
    background-color: #5385c1;
    height: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    right: -320px;
    transition: right ease-in-out 0.25s;
}
#menu-mobile .wrap {
    position: relative;
}
#menu-mobile .wrap .close-btn {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: white;
}
#menu-mobile ul {
    list-style: none;
}
#menu-mobile ul a {
    text-decoration: none;
    color: white;
    display: block;
    line-height: 42px;
}
#menu-mobile ul a:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.content .menu {
    padding-top: 50px;
    display: flex;
}
.content .menu .left,
.content .menu .right {
    display: flex;
    flex: 1;
}
.content .menu .right {
    justify-content: flex-end;
}
.content .menu a {
    text-decoration: none;
    color: white;
}
.content .menu .right a {
    font-size: 0.8rem;
    color: rgb(178, 179, 180);
}
.content .menu .right span {
    display: none;
}
.content .menu .right a:not(:last-child) {
    margin-right: 25px;
}
.content .menu .right a:hover {
    color: white;
}
/* banner */
.content .banner {
    margin: 100px 0;
    width: 100%;
    text-align: center;
}
.content .banner h1 {
    color: white;
    font-size: 56px;
    font-weight: 100;
    padding-bottom: 28px;
}
.content .banner p {
    color: rgb(178, 179, 180);
}

/* news */
.content .news {
    width: 100%;
    background: rgb(255, 255, 255);
    /* margin-top: 100px; */
    padding: 50px 0;
}
.content .news .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.content .news .list .item {
    display: flex;
    width: calc((1/3) * 100% - 30px);
    box-sizing: border-box;
}
.content .news .list .item:not(:last-child)::after {
    content: '';
    border-right: 1px solid #dbdbdb;
}
.content .news .list .item p.title {
    color: #5385c1;
    line-height: 1.5rem;
    font-weight: 300;
    font-size: 1.5em;
    margin-bottom: 1em;
}
.content .news .list .item p.description {
    margin-bottom: 2em;
}

/* users */
.content .user {
    background-color: #5385c1;
    width: 100%;
    padding: 60px 0;
}
.content .user .head {
    text-align: center;
}
.content .user .head h3 {
    font-size: 2.75em;
    color: white;
    font-weight: 100;
    margin-bottom: .5em;
}
.content .user .head p {
    color: #bacee6;
    margin-bottom: 1.5em;
}
.content .user .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 60px;
}
.content .user .list .item {
    display: flex;
    flex-direction: column;
    width: 21%;
    border: 1px solid rgba(255, 255, 255, 0.25);
    margin-bottom: 2em;
    text-align: center;
}
.content .user .list .item .avatar img {
    width: 70%;
    border-radius: 50%;
    margin-top: 2em;
    margin-bottom: 1.5em;
}
.content .user .list .item .info .name {
    color: #fff;
    font-size: 1.35em;
    font-weight: 300;
}
.content .user .list .item .info .job {
    color: #bacee6;
    margin-bottom: 3em;
}
/* special */
.content .special {
    width: 100%;
    background-color: white;
}
.content .special .head {
    text-align: center;
    padding-top: 60px;
}
.content .special .head h3 {
    color: #5385c1;
    font-weight: 100;
    font-size: 2.75em;
    margin-bottom: .5em;
}
.content .special .head p {
    color: #bbb;
    margin-bottom: 1.5em;
}
.content .special .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 60px;
    padding-bottom: 80px;
    border-bottom: 1px solid rgb(224, 223, 223)
}
.content .special .list .item {
    width: 44%;
    display: flex;
    flex-direction: column;
}
.content .special .list .item .picture img {
    width: 100%;
}
.content .special .list .item .title {
    font-size: 1.35em;
    font-weight: 300;
    line-height: 1.5;
    color: #5385c1;
    padding: 1em 0;
}
.content .special .list .item .description {
    color: #9A9A9A;
    margin-bottom: 2em;
}

/* footer */
.content .footer {
    width: 100%;
    background-color: white;
    padding: 2em 0;
}
.content .footer .row {
    display: flex;
}
.content .footer .left,
.content .footer .right {
    display: flex;
    flex: 1;
}
.content .footer .left span {
    color: #bbb;
    font-size: 0.8em;
}
.content .footer .left a {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
    font-size: 0.8em;
}
.content .footer .left a:hover {
    text-decoration: underline;
}
.content .footer .right ul {
    display: inline;
    list-style: none;
    text-align: right;
    width: 100%;
}
.content .footer .right ul li {
    display: inline-block;
}
.content .footer .right ul li:not(:last-child) {
    margin-right: 1em;
}
.content .footer .right ul li a {
    text-decoration: none;
    color: #5385c1;
}
.content .footer .right ul li span {
    display: none;
}